.wrap-im-aim2024 {
    position: relative;
    left: calc(50% - 120px);
    width: 240px;
    /* height: 240px; */
    overflow: hidden;
}
.wrap-im-twoPics {
    position: relative;
    left: calc(50% - 250px);
    /* width: 240px; */
    /* height: 240px; */
    /* overflow: hidden; */
    display: flex;
    overflow-x: auto;
    gap: 20px;
}

.wrap-vid-aim2024 {
    position: relative;
    left: calc(50% - 240px);
    border: 2px solid #4acaa8;
    width: 480px;
    height: 460px;
    overflow: hidden;
}

.vid-aim2024 {
    margin: -50px 0 0 -235px;
    height: 100%;
}